._wrapper_1vrz8_1 {
  position: relative;
}
._sliderRoot_1vrz8_4 {
  position: relative;
  display: flex;
  align-items: center;
  -webkit-user-select: none;
  user-select: none;
  touch-action: none;
  width: calc(100% - 16px);
  margin-left: 8px;
  height: 20px;
  z-index: 1;
}
._sliderTrack_1vrz8_15 {
  position: relative;
  flex-grow: 1;
  border-radius: 9999px;
  height: 4px;
  z-index: -1;
  background: #5f7183;
}
._sliderTrack_1vrz8_15:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  right: 8px;
  background: linear-gradient(272.09deg, #49afe9 3.53%, #8fd7ff);
  border-radius: 9999px;
  z-index: -1;
}
._sliderTrack_1vrz8_15:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 8px;
  background: #5f7183;
  border-radius: 9999px;
  z-index: -1;
}
._sliderTrack_1vrz8_15.__variant-default_1vrz8_43:before {
  background: linear-gradient(272.09deg, #49afe9 3.53%, #8fd7ff);
}
._sliderTrack_1vrz8_15.__variant-high_1vrz8_46:before {
  background: linear-gradient(272deg, #ffa318 3.53%, #ffd28f);
}
._sliderTrack_1vrz8_15.__variant-extreme_1vrz8_49:before {
  background: linear-gradient(272deg, #e84860 3.53%, #ff8f8f);
}
._sliderRange_1vrz8_52 {
  position: absolute;
  border-radius: 9999px;
  height: 100%;
}
._sliderRange_1vrz8_52.__variant-default_1vrz8_43 {
  background: linear-gradient(272.09deg, #49afe9 3.53%, #8fd7ff);
}
._sliderRange_1vrz8_52.__variant-high_1vrz8_46 {
  background: linear-gradient(272deg, #ffa318 3.53%, #ffd28f);
}
._sliderRange_1vrz8_52.__variant-extreme_1vrz8_49 {
  background: linear-gradient(272deg, #e84860 3.53%, #ff8f8f);
}
._sliderThumb_1vrz8_66 {
  display: block;
  width: 4px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: relative;
  z-index: 200;
}
._sliderThumb_1vrz8_66:before {
  content: '';
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  border-radius: 24px;
  z-index: 200;
  background: #fff;
}
._sliderThumb_1vrz8_66:after {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  z-index: 200;
}
._sliderThumb_1vrz8_66:hover,
._sliderThumb_1vrz8_66:active {
  cursor: pointer;
}
._sliderThumb_1vrz8_66:active:before {
  content: '';
  position: absolute;
  top: -9px;
  left: -9px;
  right: -9px;
  bottom: -9px;
  border-radius: 24px;
  z-index: 200;
  background: #fff;
  box-shadow: 0 0 5px 4px #0003;
}
._sliderThumb_1vrz8_66:focus {
  outline: none;
}
._marks_1vrz8_116 {
  display: flex;
  justify-content: space-between;
  position: relative;
  color: #98b0c1;
  font-size: 12px;
  z-index: 0;
  -webkit-user-select: none;
  user-select: none;
  font-weight: 500;
  margin-top: 6px;
}
._valueMark_1vrz8_127 {
  position: absolute;
  color: #fff;
}
._minMark_1vrz8_131,
._maxMark_1vrz8_132 {
  transition: opacity 0.15s ease-in-out;
}
.__hide_1vrz8_135 {
  opacity: 0;
}
._breakpoint_1vrz8_138 {
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: #fff;
  border: 2px solid #162136;
  border-radius: 50%;
}
