._root_1ukbf_1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: auto;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 36px;
  position: relative;
  gap: 16px;
}
@media (min-width: 768px) {
  ._root_1ukbf_1 {
    justify-content: flex-start;
  }
}
@media (min-width: 992px) {
  ._root_1ukbf_1 {
    width: calc(100vw - 48px);
  }
}
@media (min-width: 1440px) {
  ._root_1ukbf_1 {
    min-width: auto;
    width: unset;
  }
}
._root_1ukbf_1 ._topPart_1ukbf_29 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
._root_1ukbf_1 ._description_1ukbf_35 {
  padding-left: 16px;
  padding-right: 16px;
  text-align: left;
  width: 100%;
}
@media (min-width: 768px) {
  ._root_1ukbf_1 ._description_1ukbf_35 {
    padding-left: 0;
  }
}
@media (min-width: 992px) {
  ._root_1ukbf_1 ._description_1ukbf_35 {
    max-width: 66%;
  }
}
._root_1ukbf_1 ._tabsContainer_1ukbf_51 {
  display: flex;
  align-items: center;
  gap: 16px;
}
._root_1ukbf_1 ._depositsContainer_1ukbf_56 {
  align-self: flex-start;
  display: none;
}
@media (min-width: 768px) {
  ._root_1ukbf_1 ._depositsContainer_1ukbf_56 {
    display: block;
  }
}
._root_1ukbf_1 > * {
  flex-shrink: 0;
}
._root_1ukbf_1 ._tab_1ukbf_51 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 12px;
}
._root_1ukbf_1 ._tab_1ukbf_51 ._tabText_1ukbf_78 {
  margin-bottom: 6px;
}
._root_1ukbf_1 ._tab_1ukbf_51 ._tabText_1ukbf_78:hover {
  color: #98b0c1;
}
._root_1ukbf_1 ._tab_1ukbf_51.__isActive_1ukbf_84:after {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 0;
  right: 0;
  height: 2px;
  background: linear-gradient(272.09deg, #49afe9 3.53%, #8fd7ff);
}
._howItWorks_1ukbf_93 {
  cursor: pointer;
  color: #49afe9;
  font-weight: 500;
  display: inline-flex;
  gap: 4px;
  align-items: center;
}
._howItWorksIcon_1ukbf_101 {
  margin-top: 1px;
}
._root_15zln_1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  border: 1.5px solid #162136;
  padding: 12px 24px;
  border-radius: 6px;
}
._header-stats-mobile-divider_fgdu3_1 {
  margin: 16px 0;
}
@media (min-width: 768px) {
  ._header-stats-mobile-divider_fgdu3_1 {
    display: none;
  }
}
._metalGreyGradient_fgdu3_9 {
  background: linear-gradient(180deg, #e5f6ff 31.12%, #e5f6ff66);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._goldGradient_fgdu3_15 {
  background: radial-gradient(39.89% 976.52% at 29.48% 66.63%, #e9cc49, #ffeb8f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._silverGradient_fgdu3_21 {
  background: radial-gradient(39.89% 976.52% at 29.48% 66.63%, #abc2d2, #c2e6ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._bronzeGradient_fgdu3_27 {
  background: radial-gradient(98.2% 96.15% at 10.25% 61.54%, #9e4328, #b37764);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._pointsSilverTextGradient_fgdu3_33 {
  background: linear-gradient(180deg, #e5f6ff 31.12%, #e5f6ff66);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._grid_fgdu3_39 {
  display: grid;
  gap: 16px;
  grid-template-rows: repeat(6, auto);
  grid-template-columns: 1fr;
  grid-template-areas: 'title title' 'header header' 'chart chart' 'form form' 'tabs tabs' 'tabs-switch tabs-switch';
}
@media (min-width: 992px) {
  ._grid_fgdu3_39 {
    grid-template-columns: 2fr 400px;
    grid-template-areas: 'title title' 'header form' 'chart form' 'tabs form' 'tabs-switch form' 'tabs-switch form';
  }
}
._gTitle_fgdu3_52 {
  grid-area: title;
}
._gHeader_fgdu3_55 {
  grid-area: header;
}
._gChart_fgdu3_58 {
  grid-area: chart;
}
._gTabs_fgdu3_61 {
  grid-area: tabs;
}
._gTabsSwitch_fgdu3_64 {
  grid-area: tabs-switch;
}
._gForm_fgdu3_67 {
  grid-area: form;
}
._tabs_fgdu3_70 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  ._tabs_fgdu3_70 {
    flex-direction: row;
    justify-content: space-between;
  }
}
._quizButton_fgdu3_81 {
  width: 100%;
  margin-top: 12px;
}
@media (min-width: 768px) {
  ._quizButton_fgdu3_81 {
    width: 82px;
  }
}
@media (min-width: 992px) {
  ._quizButton_fgdu3_81 {
    margin-top: 0;
  }
}
._formContainer_fgdu3_95 {
  display: flex;
  flex-direction: column;
  min-height: 300px;
}
._overlay_fgdu3_100 {
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0s,
    opacity 0.25s cubic-bezier(0.25, 0.1, 0.25, 1);
}
._overlay_fgdu3_100.__isActive_fgdu3_105 {
  visibility: visible;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #040b1899;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 1;
}
._mobileRoot_fgdu3_116 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 12px;
}
._forms_fgdu3_122 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
._header-stats-mobile-divider_1j34b_1 {
  margin: 16px 0;
}
@media (min-width: 768px) {
  ._header-stats-mobile-divider_1j34b_1 {
    display: none;
  }
}
._metalGreyGradient_1j34b_9 {
  background: linear-gradient(180deg, #e5f6ff 31.12%, #e5f6ff66);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._goldGradient_1j34b_15 {
  background: radial-gradient(39.89% 976.52% at 29.48% 66.63%, #e9cc49, #ffeb8f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._silverGradient_1j34b_21 {
  background: radial-gradient(39.89% 976.52% at 29.48% 66.63%, #abc2d2, #c2e6ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._bronzeGradient_1j34b_27 {
  background: radial-gradient(98.2% 96.15% at 10.25% 61.54%, #9e4328, #b37764);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._pointsSilverTextGradient_1j34b_33 {
  background: linear-gradient(180deg, #e5f6ff 31.12%, #e5f6ff66);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._root_1j34b_39 {
  padding: 16px 16px 0;
  min-height: 378px;
}
._chartContainer_1j34b_43 {
  position: relative;
  height: 378px;
  width: 100%;
}
._chart_1j34b_43 {
  opacity: 1;
  overflow: hidden;
  transition: opacity 0.3s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
._chart_1j34b_43.__isLoading_1j34b_58 {
  opacity: 0;
}
._toggleContainer_1j34b_61 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}
._empty_1rg5z_1 {
  height: 100%;
  padding: 16px;
}
._header-stats-mobile-divider_aaq82_1 {
  margin: 16px 0;
}
@media (min-width: 768px) {
  ._header-stats-mobile-divider_aaq82_1 {
    display: none;
  }
}
._metalGreyGradient_aaq82_9 {
  background: linear-gradient(180deg, #e5f6ff 31.12%, #e5f6ff66);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._goldGradient_aaq82_15 {
  background: radial-gradient(39.89% 976.52% at 29.48% 66.63%, #e9cc49, #ffeb8f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._silverGradient_aaq82_21 {
  background: radial-gradient(39.89% 976.52% at 29.48% 66.63%, #abc2d2, #c2e6ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._bronzeGradient_aaq82_27 {
  background: radial-gradient(98.2% 96.15% at 10.25% 61.54%, #9e4328, #b37764);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._pointsSilverTextGradient_aaq82_33 {
  background: linear-gradient(180deg, #e5f6ff 31.12%, #e5f6ff66);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._root_aaq82_39 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 800px;
  padding: 12px;
  margin: 12px 6px 12px 12px;
  max-height: 60vh;
  overflow: auto;
}
@media (min-width: 992px) {
  ._root_aaq82_39 {
    max-height: 80vh;
  }
}
._header_aaq82_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
@media (min-width: 992px) {
  ._header_aaq82_1 {
    flex-direction: row;
  }
}
._description_aaq82_67 {
  color: #d1d1d2;
}
._titleStatsWrapper_aaq82_70 {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 6px;
}
@media (min-width: 768px) {
  ._titleStatsWrapper_aaq82_70 {
    width: fit-content;
  }
}
@media (min-width: 768px) {
  ._titleStatsWrapper_aaq82_70 {
    flex-direction: row;
  }
}
._titleStatsWrapper_aaq82_70 > * {
  width: 100%;
}
@media (min-width: 768px) {
  ._titleStatsWrapper_aaq82_70 > * {
    width: fit-content;
  }
}
._divider_aaq82_95 {
  margin-top: -8px;
}
