._root_32737_1 {
  padding: 12px 16px;
}
@media (min-width: 768px) {
  ._root_32737_1 {
    padding: 24px 16px;
  }
}
._header_32737_9 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  margin-bottom: 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
._openLoanDashboardDivider_32737_17 {
  margin-top: 6px;
  margin-bottom: 6px;
}
._emptyBody_32737_21 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  padding: 16px;
}
._emptyHeader_32737_28 {
  height: 100px;
  width: 100%;
  margin-bottom: 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
._emptySubHeader_32737_34 {
  height: 50px;
  width: 100%;
}
._root_11lsd_1 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
._root_11lsd_1 ._title_11lsd_7 {
  display: flex;
  gap: 6px;
  align-items: center;
}
._root_11lsd_1 ._row_11lsd_12 {
  display: flex;
  justify-content: space-between;
}
._root_11lsd_1 ._icon_11lsd_16 {
  transform: scale(0.8);
  margin-right: -6px;
}
._header-stats-mobile-divider_1n4qz_1 {
  margin: 16px 0;
}
@media (min-width: 768px) {
  ._header-stats-mobile-divider_1n4qz_1 {
    display: none;
  }
}
._metalGreyGradient_1n4qz_9 {
  background: linear-gradient(180deg, #e5f6ff 31.12%, #e5f6ff66);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._goldGradient_1n4qz_15 {
  background: radial-gradient(39.89% 976.52% at 29.48% 66.63%, #e9cc49, #ffeb8f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._silverGradient_1n4qz_21 {
  background: radial-gradient(39.89% 976.52% at 29.48% 66.63%, #abc2d2, #c2e6ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._bronzeGradient_1n4qz_27 {
  background: radial-gradient(98.2% 96.15% at 10.25% 61.54%, #9e4328, #b37764);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._pointsSilverTextGradient_1n4qz_33 {
  background: linear-gradient(180deg, #e5f6ff 31.12%, #e5f6ff66);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._root_1n4qz_39,
._statsPanel_1n4qz_40 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
._root_1n4qz_39 ._statsItem_1n4qz_45,
._statsPanel_1n4qz_40 ._statsItem_1n4qz_45 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
._root_1n4qz_39 ._statsSimupationWrapper_1n4qz_51,
._statsPanel_1n4qz_40 ._statsSimupationWrapper_1n4qz_51 {
  display: flex;
  gap: 4px;
  align-items: center;
}
._header-stats-mobile-divider_h2x7l_1 {
  margin: 16px 0;
}
@media (min-width: 768px) {
  ._header-stats-mobile-divider_h2x7l_1 {
    display: none;
  }
}
._metalGreyGradient_h2x7l_9 {
  background: linear-gradient(180deg, #e5f6ff 31.12%, #e5f6ff66);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._goldGradient_h2x7l_15 {
  background: radial-gradient(39.89% 976.52% at 29.48% 66.63%, #e9cc49, #ffeb8f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._silverGradient_h2x7l_21 {
  background: radial-gradient(39.89% 976.52% at 29.48% 66.63%, #abc2d2, #c2e6ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._bronzeGradient_h2x7l_27 {
  background: radial-gradient(98.2% 96.15% at 10.25% 61.54%, #9e4328, #b37764);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._pointsSilverTextGradient_h2x7l_33 {
  background: linear-gradient(180deg, #e5f6ff 31.12%, #e5f6ff66);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._root_h2x7l_39,
._statsPanel_h2x7l_40 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
._statsItem_h2x7l_45 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
._header-stats-mobile-divider_1d33x_1 {
  margin: 16px 0;
}
@media (min-width: 768px) {
  ._header-stats-mobile-divider_1d33x_1 {
    display: none;
  }
}
._metalGreyGradient_1d33x_9 {
  background: linear-gradient(180deg, #e5f6ff 31.12%, #e5f6ff66);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._goldGradient_1d33x_15 {
  background: radial-gradient(39.89% 976.52% at 29.48% 66.63%, #e9cc49, #ffeb8f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._silverGradient_1d33x_21 {
  background: radial-gradient(39.89% 976.52% at 29.48% 66.63%, #abc2d2, #c2e6ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._bronzeGradient_1d33x_27 {
  background: radial-gradient(98.2% 96.15% at 10.25% 61.54%, #9e4328, #b37764);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._pointsSilverTextGradient_1d33x_33 {
  background: linear-gradient(180deg, #e5f6ff 31.12%, #e5f6ff66);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._root_1d33x_39,
._statsPanel_1d33x_40 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
._statsItem_1d33x_45 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
._statsWrapper_1d33x_50 {
  display: flex;
  align-items: center;
  gap: 4px;
}
._header-stats-mobile-divider_d2z55_1 {
  margin: 16px 0;
}
@media (min-width: 768px) {
  ._header-stats-mobile-divider_d2z55_1 {
    display: none;
  }
}
._metalGreyGradient_d2z55_9 {
  background: linear-gradient(180deg, #e5f6ff 31.12%, #e5f6ff66);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._goldGradient_d2z55_15 {
  background: radial-gradient(39.89% 976.52% at 29.48% 66.63%, #e9cc49, #ffeb8f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._silverGradient_d2z55_21 {
  background: radial-gradient(39.89% 976.52% at 29.48% 66.63%, #abc2d2, #c2e6ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._bronzeGradient_d2z55_27 {
  background: radial-gradient(98.2% 96.15% at 10.25% 61.54%, #9e4328, #b37764);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._pointsSilverTextGradient_d2z55_33 {
  background: linear-gradient(180deg, #e5f6ff 31.12%, #e5f6ff66);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._root_d2z55_39,
._statsPanel_d2z55_40 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
._root_d2z55_39 ._statsItem_d2z55_45,
._statsPanel_d2z55_40 ._statsItem_d2z55_45 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
._root_d2z55_39 ._statsWrapper_d2z55_51,
._statsPanel_d2z55_40 ._statsWrapper_d2z55_51 {
  display: flex;
  gap: 4px;
  align-items: center;
}
._header-stats-mobile-divider_nfj4s_1 {
  margin: 16px 0;
}
@media (min-width: 768px) {
  ._header-stats-mobile-divider_nfj4s_1 {
    display: none;
  }
}
._metalGreyGradient_nfj4s_9 {
  background: linear-gradient(180deg, #e5f6ff 31.12%, #e5f6ff66);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._goldGradient_nfj4s_15 {
  background: radial-gradient(39.89% 976.52% at 29.48% 66.63%, #e9cc49, #ffeb8f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._silverGradient_nfj4s_21 {
  background: radial-gradient(39.89% 976.52% at 29.48% 66.63%, #abc2d2, #c2e6ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._bronzeGradient_nfj4s_27 {
  background: radial-gradient(98.2% 96.15% at 10.25% 61.54%, #9e4328, #b37764);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._pointsSilverTextGradient_nfj4s_33 {
  background: linear-gradient(180deg, #e5f6ff 31.12%, #e5f6ff66);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._input_nfj4s_39 {
  margin-bottom: 24px;
}
._slider_nfj4s_42 {
  margin-bottom: 16px;
}
._slider_nfj4s_42 ._title_nfj4s_45 {
  margin-bottom: 8px;
}
._notifications_nfj4s_48 {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
._notifications_nfj4s_48:empty {
  margin-top: 0;
  margin-bottom: 0;
}
._stats_nfj4s_58 {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  gap: 8px;
}
._stats_nfj4s_58 ._statsItem_nfj4s_64 {
  display: flex;
  justify-content: space-between;
}
._stats_nfj4s_58 ._statsSimupationWrapper_nfj4s_68 {
  display: flex;
  gap: 4px;
  align-items: center;
}
._notificationMb_nfj4s_73 {
  margin-bottom: 24px;
}
._notificationMt_nfj4s_76 {
  margin-top: 24px;
}
._epochResetText_nfj4s_79 {
  display: inline;
}
._header-stats-mobile-divider_pe2t2_1 {
  margin: 16px 0;
}
@media (min-width: 768px) {
  ._header-stats-mobile-divider_pe2t2_1 {
    display: none;
  }
}
._metalGreyGradient_pe2t2_9 {
  background: linear-gradient(180deg, #e5f6ff 31.12%, #e5f6ff66);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._goldGradient_pe2t2_15 {
  background: radial-gradient(39.89% 976.52% at 29.48% 66.63%, #e9cc49, #ffeb8f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._silverGradient_pe2t2_21 {
  background: radial-gradient(39.89% 976.52% at 29.48% 66.63%, #abc2d2, #c2e6ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._bronzeGradient_pe2t2_27 {
  background: radial-gradient(98.2% 96.15% at 10.25% 61.54%, #9e4328, #b37764);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._pointsSilverTextGradient_pe2t2_33 {
  background: linear-gradient(180deg, #e5f6ff 31.12%, #e5f6ff66);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._input_pe2t2_39 {
  margin-bottom: 24px;
  margin-top: 24px;
}
._warnings_pe2t2_43 {
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
}
._warnings_pe2t2_43:empty {
  margin-top: 0;
  margin-bottom: 0;
}
._stats_pe2t2_55 {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  gap: 8px;
}
._stats_pe2t2_55 ._statsItem_pe2t2_61 {
  display: flex;
  justify-content: space-between;
}
._stats_pe2t2_55 ._statsSimupationWrapper_pe2t2_65 {
  display: flex;
  gap: 4px;
  align-items: center;
}
._header-stats-mobile-divider_52aeg_1 {
  margin: 16px 0;
}
@media (min-width: 768px) {
  ._header-stats-mobile-divider_52aeg_1 {
    display: none;
  }
}
._metalGreyGradient_52aeg_9 {
  background: linear-gradient(180deg, #e5f6ff 31.12%, #e5f6ff66);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._goldGradient_52aeg_15 {
  background: radial-gradient(39.89% 976.52% at 29.48% 66.63%, #e9cc49, #ffeb8f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._silverGradient_52aeg_21 {
  background: radial-gradient(39.89% 976.52% at 29.48% 66.63%, #abc2d2, #c2e6ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._bronzeGradient_52aeg_27 {
  background: radial-gradient(98.2% 96.15% at 10.25% 61.54%, #9e4328, #b37764);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._pointsSilverTextGradient_52aeg_33 {
  background: linear-gradient(180deg, #e5f6ff 31.12%, #e5f6ff66);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._slider_52aeg_39 {
  margin-bottom: 32px;
}
._slider_52aeg_39 ._title_52aeg_42 {
  margin-bottom: 8px;
}
._warning_52aeg_45 {
  margin-bottom: 16px;
}
._warning_52aeg_45:empty {
  margin-bottom: 0;
}
._warnings_52aeg_51 {
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
}
._warnings_52aeg_51:empty {
  margin-top: 0;
  margin-bottom: 0;
}
._stats_52aeg_63 {
  margin-top: 24px;
}
._epochResetText_52aeg_66 {
  display: inline;
}
._header-stats-mobile-divider_129wd_1 {
  margin: 16px 0;
}
@media (min-width: 768px) {
  ._header-stats-mobile-divider_129wd_1 {
    display: none;
  }
}
._metalGreyGradient_129wd_9 {
  background: linear-gradient(180deg, #e5f6ff 31.12%, #e5f6ff66);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._goldGradient_129wd_15 {
  background: radial-gradient(39.89% 976.52% at 29.48% 66.63%, #e9cc49, #ffeb8f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._silverGradient_129wd_21 {
  background: radial-gradient(39.89% 976.52% at 29.48% 66.63%, #abc2d2, #c2e6ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._bronzeGradient_129wd_27 {
  background: radial-gradient(98.2% 96.15% at 10.25% 61.54%, #9e4328, #b37764);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._pointsSilverTextGradient_129wd_33 {
  background: linear-gradient(180deg, #e5f6ff 31.12%, #e5f6ff66);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._input_129wd_39 {
  margin-bottom: 24px;
}
._slider_129wd_42 {
  margin-bottom: 32px;
}
._slider_129wd_42 ._title_129wd_45 {
  margin-bottom: 8px;
}
._warning_129wd_48 {
  margin-bottom: 16px;
}
._warning_129wd_48:empty {
  margin-bottom: 0;
}
._warnings_129wd_54 {
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
}
._warnings_129wd_54:empty {
  margin-top: 0;
  margin-bottom: 0;
}
._stats_129wd_66 {
  margin-top: 24px;
}
._epochResetText_129wd_69 {
  display: inline;
}
._header-stats-mobile-divider_1i7vd_1 {
  margin: 16px 0;
}
@media (min-width: 768px) {
  ._header-stats-mobile-divider_1i7vd_1 {
    display: none;
  }
}
._metalGreyGradient_1i7vd_9 {
  background: linear-gradient(180deg, #e5f6ff 31.12%, #e5f6ff66);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._goldGradient_1i7vd_15 {
  background: radial-gradient(39.89% 976.52% at 29.48% 66.63%, #e9cc49, #ffeb8f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._silverGradient_1i7vd_21 {
  background: radial-gradient(39.89% 976.52% at 29.48% 66.63%, #abc2d2, #c2e6ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._bronzeGradient_1i7vd_27 {
  background: radial-gradient(98.2% 96.15% at 10.25% 61.54%, #9e4328, #b37764);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._pointsSilverTextGradient_1i7vd_33 {
  background: linear-gradient(180deg, #e5f6ff 31.12%, #e5f6ff66);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._input_1i7vd_39 {
  margin-bottom: 24px;
}
._warning_1i7vd_42 {
  margin-bottom: 16px;
}
._warning_1i7vd_42:empty {
  margin-bottom: 0;
}
._notificationMb_1i7vd_48 {
  margin-bottom: 24px;
}
._notificationMt_1i7vd_51 {
  margin-top: 24px;
}
._slider_1i7vd_54 {
  margin-bottom: 32px;
}
._slider_1i7vd_54 ._title_1i7vd_57 {
  margin-bottom: 8px;
}
._warnings_1i7vd_60 {
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
}
._warnings_1i7vd_60:empty {
  margin-top: 0;
  margin-bottom: 0;
}
._stats_1i7vd_72 {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
._stats_1i7vd_72 ._statsItem_1i7vd_78 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
._tabs_1i7vd_83 {
  margin-bottom: 24px;
}
._notificationsCloseNoBorrowPosition_1i7vd_86 {
  margin-top: 24px;
  display: flex;
  gap: 8px;
}
