._header-stats-mobile-divider_1iptv_1 {
  margin: 16px 0;
}
@media (min-width: 768px) {
  ._header-stats-mobile-divider_1iptv_1 {
    display: none;
  }
}
._metalGreyGradient_1iptv_9 {
  background: linear-gradient(180deg, #e5f6ff 31.12%, #e5f6ff66);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._goldGradient_1iptv_15 {
  background: radial-gradient(39.89% 976.52% at 29.48% 66.63%, #e9cc49, #ffeb8f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._silverGradient_1iptv_21 {
  background: radial-gradient(39.89% 976.52% at 29.48% 66.63%, #abc2d2, #c2e6ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._bronzeGradient_1iptv_27 {
  background: radial-gradient(98.2% 96.15% at 10.25% 61.54%, #9e4328, #b37764);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._pointsSilverTextGradient_1iptv_33 {
  background: linear-gradient(180deg, #e5f6ff 31.12%, #e5f6ff66);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._btn_1iptv_39 {
  position: relative;
  background-color: #212c42;
  height: 40px;
  width: 40px;
}
@media (min-width: 768px) {
  ._btn_1iptv_39 {
    width: 100px;
  }
}
._btn_1iptv_39 ._children_1iptv_50 {
  background: linear-gradient(117deg, #ffd37f 33.55%, #d6971e 70.76%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-color: #212c42;
  display: flex;
  align-items: center;
  gap: 4px;
}
._btn_1iptv_39:hover:not(:disabled, .__isActive_1iptv_60) {
  border: 1px #e9b149 solid;
}
._btn_1iptv_39:active:not(:disabled),
._btn_1iptv_39.__isActive_1iptv_60 {
  color: #e9b149;
  border: 1px #e9b149 solid;
  background: radial-gradient(161.25% 161.25% at 50.4% 50%, #e9b14938, #e9b14900);
}
._btn_1iptv_39:disabled {
  background-color: #49afe940;
  color: #fff;
}
._btn_1iptv_39 ._text_1iptv_73 {
  display: none;
}
@media (min-width: 768px) {
  ._btn_1iptv_39 ._text_1iptv_73 {
    display: block;
  }
}
._btn_1iptv_39 ._icon_1iptv_81 {
  width: 20px;
}
@media (min-width: 768px) {
  ._btn_1iptv_39 ._icon_1iptv_81 {
    width: auto;
  }
}
._overlayClassName_1iptv_89 {
  max-width: 363px;
  height: 100%;
}
@media (min-width: 992px) {
  ._overlayClassName_1iptv_89 {
    max-width: 693px;
    width: 100%;
  }
}
._emptyOverlay_1iptv_99,
._overlay_1iptv_89 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 25px #00000073;
}
._overlay_1iptv_89 {
  padding: 8px 16px;
}
._overlay_1iptv_89.__isLoading_1iptv_110 {
  min-height: 258px;
}
._overlay_1iptv_89.__isLoading_1iptv_110 ._spinner_1iptv_113 {
  display: flex;
  align-items: center;
  height: 186px;
}
._overlay_1iptv_89 ._mainStats_1iptv_118 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 16px 0;
}
._overlay_1iptv_89 ._content_1iptv_125 {
  width: 100%;
}
._overlay_1iptv_89 ._emptyState_1iptv_128 ._title_1iptv_128 {
  padding-top: 16px;
  text-align: center;
  margin-bottom: 8px;
}
._overlay_1iptv_89 ._emptyState_1iptv_128 ._img_1iptv_133 {
  margin-bottom: 8px;
}
._overlay_1iptv_89 ._emptyState_1iptv_128 ._desc_1iptv_136 {
  margin-bottom: 24px;
}
._overlay_1iptv_89 ._points_1iptv_33 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
._overlay_1iptv_89 ._pointsAmount_1iptv_145 {
  background: linear-gradient(117deg, #ffd37f 33.55%, #d6971e 70.76%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._overlay_1iptv_89 ._iconContainer_1iptv_151 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border: 1px solid #212c42;
  border-radius: 6px;
  padding: 4px 8px;
  width: fit-content;
}
._overlay_1iptv_89 ._divider_1iptv_161 {
  margin: 4px 0;
}
._overlay_1iptv_89 ._stats_1iptv_164 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  padding: 12px 0;
}
._overlay_1iptv_89 ._stats_1iptv_164 ._statItem_1iptv_171 {
  display: flex;
  justify-content: space-between;
}
._overlay_1iptv_89 ._stats_1iptv_164 ._statItem_1iptv_171 ._title_1iptv_128 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}
._overlay_1iptv_89 ._season2Stats_1iptv_181 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin: 8px 0;
  width: 100%;
  padding: 24px 16px;
}
._overlay_1iptv_89 ._season2Stats_1iptv_181 ._statItem_1iptv_171 {
  display: flex;
  justify-content: space-between;
}
._overlay_1iptv_89 ._season2Stats_1iptv_181 ._statItem_1iptv_171 ._title_1iptv_128 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}
._overlay_1iptv_89 ._footerBtn_1iptv_200 {
  color: #e9b149;
  margin-top: 12px;
}
._emptyOverlay_1iptv_99 {
  padding: 24px 36px;
}
._emptyOverlay_1iptv_99 ._title_1iptv_128 {
  display: block;
  background: linear-gradient(117deg, #ffd37f 33.55%, #d6971e 70.76%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 12px;
  margin-bottom: 6px;
}
._emptyOverlay_1iptv_99 ._footerBtn_1iptv_200 {
  color: #e9b149;
  margin-top: 4px;
}
._referralsContainerMobile_1iptv_220 {
  padding-top: 8px;
  padding-bottom: 8px;
}
._referralsTabsContainer_1iptv_224 {
  padding-bottom: 24px;
}
._gridContent_1iptv_227 {
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: 16px;
  padding: 8px 0;
  width: 100%;
  height: 100%;
}
._spinnerContainer_1iptv_235 {
  line-height: 24px;
}
._viewButton_1iptv_238 {
  justify-content: flex-start;
  width: 100%;
  background: transparent;
  border: none;
}
._viewButton_1iptv_238.__isSelected_1iptv_244 {
  border: none;
  background-color: #162136;
}
._viewButton_1iptv_238.__isSelected_1iptv_244:hover,
._viewButton_1iptv_238:hover {
  border: none;
}
._viewButton_1iptv_238:not(._isSelected_1iptv_254):hover {
  border: none;
}
._viewButton_1iptv_238 ._viewButtonContent_1iptv_257 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
._openDropdown_1iptv_263 {
  min-height: auto;
}
._header-stats-mobile-divider_8ykiu_1 {
  margin: 16px 0;
}
@media (min-width: 768px) {
  ._header-stats-mobile-divider_8ykiu_1 {
    display: none;
  }
}
._metalGreyGradient_8ykiu_9 {
  background: linear-gradient(180deg, #e5f6ff 31.12%, #e5f6ff66);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._goldGradient_8ykiu_15 {
  background: radial-gradient(39.89% 976.52% at 29.48% 66.63%, #e9cc49, #ffeb8f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._silverGradient_8ykiu_21 {
  background: radial-gradient(39.89% 976.52% at 29.48% 66.63%, #abc2d2, #c2e6ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._bronzeGradient_8ykiu_27 {
  background: radial-gradient(98.2% 96.15% at 10.25% 61.54%, #9e4328, #b37764);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._pointsSilverTextGradient_8ykiu_33 {
  background: linear-gradient(180deg, #e5f6ff 31.12%, #e5f6ff66);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._referralContent_8ykiu_39 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  align-items: center;
}
._referralContentBody_8ykiu_46 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
._referralTitle_8ykiu_52 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
._rewardsContainer_8ykiu_58 {
  padding: 6px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  border: 1px solid #212c42;
  border-radius: 6px;
}
._referralBanner_8ykiu_67 {
  padding: 8px 24px;
  border-radius: 6px;
  background: #e9b14914;
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: fit-content;
}
._referralButton_8ykiu_78 {
  width: 100%;
}
._referralLoading_8ykiu_81 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
._subtitle_8ykiu_87 {
  text-align: center;
}
._mainStats_8ykiu_90 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 16px 0;
}
._points_8ykiu_33 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
._pointsAmount_8ykiu_103 {
  background: linear-gradient(117deg, #ffd37f 33.55%, #d6971e 70.76%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._divider_8ykiu_109 {
  margin: 4px 0;
}
._stats_8ykiu_112 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  padding: 12px 0;
}
._stats_8ykiu_112 ._statItem_8ykiu_119 {
  display: flex;
  justify-content: space-between;
}
._stats_8ykiu_112 ._statItem_8ykiu_119 ._title_8ykiu_123 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}
._footerBtn_8ykiu_129 {
  color: #e9b149;
  margin-top: 12px;
}
._fadeEnterDown_1i8ii_1 {
  opacity: 0;
  transform: translateY(-100%);
}
._fadeEnterUp_1i8ii_5 {
  opacity: 0;
  transform: translateY(100%);
}
._fadeEnterActiveDown_1i8ii_9,
._fadeEnterActiveUp_1i8ii_13,
._fadeExit_1i8ii_17 {
  opacity: 1;
  transform: translateY(0);
}
._fadeExitActiveUp_1i8ii_21 {
  opacity: 0;
  transform: translateY(100%);
}
._fadeExitActiveDown_1i8ii_25 {
  opacity: 0;
  transform: translateY(-100%);
}
._fadeEnterActiveUp_1i8ii_13,
._fadeEnterActiveDown_1i8ii_9,
._fadeExitActiveUp_1i8ii_21,
._fadeExitActiveDown_1i8ii_25 {
  transition:
    opacity 0.3s,
    transform 0.3s ease-in-out;
}
