._header-stats-mobile-divider_orqyv_1 {
  margin: 16px 0;
}
@media (min-width: 768px) {
  ._header-stats-mobile-divider_orqyv_1 {
    display: none;
  }
}
._metalGreyGradient_orqyv_9 {
  background: linear-gradient(180deg, #e5f6ff 31.12%, #e5f6ff66);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._goldGradient_orqyv_15 {
  background: radial-gradient(39.89% 976.52% at 29.48% 66.63%, #e9cc49, #ffeb8f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._silverGradient_orqyv_21 {
  background: radial-gradient(39.89% 976.52% at 29.48% 66.63%, #abc2d2, #c2e6ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._bronzeGradient_orqyv_27 {
  background: radial-gradient(98.2% 96.15% at 10.25% 61.54%, #9e4328, #b37764);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._pointsSilverTextGradient_orqyv_33 {
  background: linear-gradient(180deg, #e5f6ff 31.12%, #e5f6ff66);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._root_orqyv_39 {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  overflow-x: auto;
}
._root_orqyv_39 ._dropdownTriggerText_orqyv_45 {
  font-size: 16px;
  line-height: 22px;
}
._root_orqyv_39._noBorderBottom_orqyv_49 {
  border-bottom: none;
}
._scrollableTabs_orqyv_52 {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  overflow-x: auto;
  scrollbar-width: none;
}
._scrollableTabs_orqyv_52::-webkit-scrollbar {
  display: none;
}
._scrollableTabs_orqyv_52._noBorderBottom_orqyv_49 {
  border-bottom: none;
}
._scrollableTabsContainer_orqyv_65 {
  display: flex;
  align-items: end;
  overflow-x: auto;
  white-space: nowrap;
  position: relative;
  scrollbar-width: none;
}
.__variant-default_orqyv_73,
.__variant-leverage_orqyv_74,
.__variant-position_orqyv_75 {
  background-color: transparent;
}
.__variant-plain_orqyv_78 {
  background-color: #162136;
  border-radius: 8px;
  color: #091326;
  border-bottom: none;
}
.__variant-swap_orqyv_84 {
  background-color: #121c30;
  border-radius: 100px;
  border: 1px solid #162136;
}
.__isFullWidth_orqyv_89 {
  display: flex;
  width: 100%;
}
.__isFullWidth_orqyv_89 ._tabItem_orqyv_93 {
  flex: 1;
}
._tabItem_orqyv_93 {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: 1px transparent solid;
  font-family:
    IBM Plex Sans,
    sans-serif;
  color: #5f7183;
  gap: 6px;
}
.__tabItemVariant-default_orqyv_106 {
  padding: 0 16px 12px;
}
.__tabItemVariant-default_orqyv_106:active,
.__tabItemVariant-default_orqyv_106.__isActive_orqyv_110 {
  color: #fff;
}
.__tabItemVariant-default_orqyv_106:active:after,
.__tabItemVariant-default_orqyv_106.__isActive_orqyv_110:after {
  content: '';
  position: absolute;
  margin-top: 16px;
  height: 2px;
  bottom: 0;
  width: 100%;
  background: linear-gradient(272.09deg, #49afe9 3.53%, #8fd7ff);
}
.__tabItemVariant-default_orqyv_106:not(.__isActive_orqyv_110):hover {
  color: #d1d1d2;
}
.__tabItemVariant-default_orqyv_106:not(.__isActive_orqyv_110):active {
  color: #fff;
}
.__tabItemVariant-leverage_orqyv_129,
.__tabItemVariant-position_orqyv_130,
.__tabItemVariant-leverage-open-position-long_orqyv_131,
.__tabItemVariant-leverage-open-position-short_orqyv_132 {
  padding: 2px 12px 12px;
  color: #98b0c1;
}
.__tabItemVariant-leverage_orqyv_129:active,
.__tabItemVariant-position_orqyv_130:active,
.__tabItemVariant-leverage-open-position-long_orqyv_131:active,
.__tabItemVariant-leverage-open-position-short_orqyv_132:active,
.__tabItemVariant-leverage_orqyv_129.__isActive_orqyv_110,
.__tabItemVariant-position_orqyv_130.__isActive_orqyv_110,
.__tabItemVariant-leverage-open-position-long_orqyv_131.__isActive_orqyv_110,
.__tabItemVariant-leverage-open-position-short_orqyv_132.__isActive_orqyv_110 {
  color: #fff;
}
.__tabItemVariant-leverage_orqyv_129:active:after,
.__tabItemVariant-position_orqyv_130:active:after,
.__tabItemVariant-leverage-open-position-long_orqyv_131:active:after,
.__tabItemVariant-leverage-open-position-short_orqyv_132:active:after,
.__tabItemVariant-leverage_orqyv_129.__isActive_orqyv_110:after,
.__tabItemVariant-position_orqyv_130.__isActive_orqyv_110:after,
.__tabItemVariant-leverage-open-position-long_orqyv_131.__isActive_orqyv_110:after,
.__tabItemVariant-leverage-open-position-short_orqyv_132.__isActive_orqyv_110:after {
  content: '';
  position: absolute;
  margin-top: 16px;
  height: 2px;
  bottom: 0;
  width: 100%;
  background: linear-gradient(272.09deg, #49afe9 3.53%, #8fd7ff);
}
.__tabItemVariant-leverage_orqyv_129:not(.__isActive_orqyv_110):hover,
.__tabItemVariant-position_orqyv_130:not(.__isActive_orqyv_110):hover,
.__tabItemVariant-leverage-open-position-long_orqyv_131:not(.__isActive_orqyv_110):hover,
.__tabItemVariant-leverage-open-position-short_orqyv_132:not(.__isActive_orqyv_110):hover {
  color: #d1d1d2;
}
.__tabItemVariant-leverage_orqyv_129:not(.__isActive_orqyv_110):active,
.__tabItemVariant-position_orqyv_130:not(.__isActive_orqyv_110):active,
.__tabItemVariant-leverage-open-position-long_orqyv_131:not(.__isActive_orqyv_110):active,
.__tabItemVariant-leverage-open-position-short_orqyv_132:not(.__isActive_orqyv_110):active {
  color: #fff;
}
.__tabItemVariant-plain_orqyv_175 {
  padding: 8px;
  border-radius: 8px;
}
.__tabItemVariant-plain_orqyv_175:active,
.__tabItemVariant-plain_orqyv_175.__isActive_orqyv_110 {
  background: radial-gradient(161.25% 161.25% at 50.4% 50%, #49afe959, #49afe900);
  color: #49afe9;
}
.__tabItemVariant-swap_orqyv_184 {
  padding: 8px 16px;
  border-radius: 100px;
  color: #98b0c1;
  height: 100%;
}
.__tabItemVariant-swap_orqyv_184:hover {
  color: #49afe9;
}
.__tabItemVariant-swap_orqyv_184:active,
.__tabItemVariant-swap_orqyv_184.__isActive_orqyv_110 {
  background: #49afe940;
  color: #fff;
  border: 1px solid rgba(73, 175, 233, 0.25);
}
.__labelItemVariant-position_orqyv_199 {
  font-size: 14px !important;
  line-height: 20px !important;
}
.__labelItemVariant-swap_orqyv_203 {
  font-size: 12px !important;
  line-height: 12px !important;
}
.__tabItemVariant-leverage-open-position-long_orqyv_131.__isActive_orqyv_110 {
  background: linear-gradient(272.09deg, #30d69a 3.53%, #8fffd6);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.__tabItemVariant-leverage-open-position-long_orqyv_131.__isActive_orqyv_110:after {
  content: '';
  position: absolute;
  margin-top: 16px;
  height: 2px;
  bottom: 0;
  width: 100%;
  background: linear-gradient(272.09deg, #30d69a 3.53%, #8fffd6);
}
.__tabItemVariant-leverage-open-position-short_orqyv_132.__isActive_orqyv_110 {
  background: linear-gradient(272.09deg, #e84860 3.53%, #ff8f8f);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.__tabItemVariant-leverage-open-position-short_orqyv_132.__isActive_orqyv_110:after {
  content: '';
  position: absolute;
  margin-top: 16px;
  height: 2px;
  bottom: 0;
  width: 100%;
  background: linear-gradient(272.09deg, #e84860 3.53%, #ff8f8f);
}
._labelContainer_orqyv_237 {
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
}
._labelAndIconContainer_orqyv_243 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
._tabTag_orqyv_249 {
  position: absolute;
  top: -4px;
  right: -20px;
  width: auto;
}
.__isDisabled_orqyv_255 {
  cursor: not-allowed;
  color: #35435c;
}
.__isDisabled_orqyv_255:hover {
  color: #35435c !important;
  background-color: transparent !important;
}
.__isDisabled_orqyv_255:active:after {
  content: none;
}
.__textDisabled_orqyv_266 {
  color: #35435c !important;
}
._noWrap_orqyv_269 {
  white-space: nowrap;
}
