._title_1ygta_1 {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 8px;
}
._content_1ygta_9 {
  color: #98b0c1;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
}
._paragraph_1ygta_16 {
  margin-bottom: 8px;
}
._paragraph_1ygta_16 b {
  color: #fff;
}
._buttons_1ygta_22 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 24px;
}
._header-stats-mobile-divider_1glom_1 {
  margin: 16px 0;
}
@media (min-width: 768px) {
  ._header-stats-mobile-divider_1glom_1 {
    display: none;
  }
}
._metalGreyGradient_1glom_9 {
  background: linear-gradient(180deg, #e5f6ff 31.12%, #e5f6ff66);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._goldGradient_1glom_15 {
  background: radial-gradient(39.89% 976.52% at 29.48% 66.63%, #e9cc49, #ffeb8f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._silverGradient_1glom_21 {
  background: radial-gradient(39.89% 976.52% at 29.48% 66.63%, #abc2d2, #c2e6ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._bronzeGradient_1glom_27 {
  background: radial-gradient(98.2% 96.15% at 10.25% 61.54%, #9e4328, #b37764);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._pointsSilverTextGradient_1glom_33 {
  background: linear-gradient(180deg, #e5f6ff 31.12%, #e5f6ff66);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._root_1glom_39,
._statsPanel_1glom_40 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
._statsItem_1glom_45 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
._flex_1glom_50 {
  display: flex;
  gap: 6px;
  align-items: center;
}
._router_1glom_55 {
  text-transform: capitalize;
}
._container_byb4x_1 {
  position: relative;
}
._trigger_byb4x_4 {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 6px;
  cursor: pointer;
}
._content_byb4x_11 {
  background: #162136;
  margin-top: 8px;
  padding: 12px;
  border-radius: 12px;
}
._icon_byb4x_17 {
  display: flex;
  transition: transform ease 0.3s;
}
.__isOpen_byb4x_21 ._icon_byb4x_17 {
  transform: rotate(180deg);
}
._header-stats-mobile-divider_1h3ic_1 {
  margin: 16px 0;
}
@media (min-width: 768px) {
  ._header-stats-mobile-divider_1h3ic_1 {
    display: none;
  }
}
._metalGreyGradient_1h3ic_9 {
  background: linear-gradient(180deg, #e5f6ff 31.12%, #e5f6ff66);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._goldGradient_1h3ic_15 {
  background: radial-gradient(39.89% 976.52% at 29.48% 66.63%, #e9cc49, #ffeb8f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._silverGradient_1h3ic_21 {
  background: radial-gradient(39.89% 976.52% at 29.48% 66.63%, #abc2d2, #c2e6ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._bronzeGradient_1h3ic_27 {
  background: radial-gradient(98.2% 96.15% at 10.25% 61.54%, #9e4328, #b37764);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._pointsSilverTextGradient_1h3ic_33 {
  background: linear-gradient(180deg, #e5f6ff 31.12%, #e5f6ff66);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._root_1h3ic_39 {
  width: 300px;
}
._paragraph_1h3ic_42 {
  margin-bottom: 16px;
}
._list_1h3ic_45 {
  padding-left: 8px;
}
._header-stats-mobile-divider_1n4qz_1 {
  margin: 16px 0;
}
@media (min-width: 768px) {
  ._header-stats-mobile-divider_1n4qz_1 {
    display: none;
  }
}
._metalGreyGradient_1n4qz_9 {
  background: linear-gradient(180deg, #e5f6ff 31.12%, #e5f6ff66);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._goldGradient_1n4qz_15 {
  background: radial-gradient(39.89% 976.52% at 29.48% 66.63%, #e9cc49, #ffeb8f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._silverGradient_1n4qz_21 {
  background: radial-gradient(39.89% 976.52% at 29.48% 66.63%, #abc2d2, #c2e6ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._bronzeGradient_1n4qz_27 {
  background: radial-gradient(98.2% 96.15% at 10.25% 61.54%, #9e4328, #b37764);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._pointsSilverTextGradient_1n4qz_33 {
  background: linear-gradient(180deg, #e5f6ff 31.12%, #e5f6ff66);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._root_1n4qz_39,
._statsPanel_1n4qz_40 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
._root_1n4qz_39 ._statsItem_1n4qz_45,
._statsPanel_1n4qz_40 ._statsItem_1n4qz_45 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
._root_1n4qz_39 ._statsSimupationWrapper_1n4qz_51,
._statsPanel_1n4qz_40 ._statsSimupationWrapper_1n4qz_51 {
  display: flex;
  gap: 4px;
  align-items: center;
}
._progressContainer_w8gb5_2 {
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
._circularChart_w8gb5_9 {
  display: block;
  width: 14px;
  height: 14px;
}
._circle_w8gb5_14 {
  fill: none;
  stroke-width: 5;
  stroke: #fff;
  stroke-linecap: round;
  stop-color: transparent;
  transition: stroke-dasharray 1s linear;
}
._outerCircle_w8gb5_22 {
  fill: none;
  stroke-width: 5;
  stroke: #5f7183;
  stroke-linecap: round;
  stop-color: transparent;
}
._header-stats-mobile-divider_11v1w_1 {
  margin: 16px 0;
}
@media (min-width: 768px) {
  ._header-stats-mobile-divider_11v1w_1 {
    display: none;
  }
}
._metalGreyGradient_11v1w_9 {
  background: linear-gradient(180deg, #e5f6ff 31.12%, #e5f6ff66);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._goldGradient_11v1w_15 {
  background: radial-gradient(39.89% 976.52% at 29.48% 66.63%, #e9cc49, #ffeb8f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._silverGradient_11v1w_21 {
  background: radial-gradient(39.89% 976.52% at 29.48% 66.63%, #abc2d2, #c2e6ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._bronzeGradient_11v1w_27 {
  background: radial-gradient(98.2% 96.15% at 10.25% 61.54%, #9e4328, #b37764);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._pointsSilverTextGradient_11v1w_33 {
  background: linear-gradient(180deg, #e5f6ff 31.12%, #e5f6ff66);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._paragraph_11v1w_39 {
  margin-bottom: 16px;
}
._notificationBody_11v1w_42 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
._list_11v1w_47 {
  display: flex;
  gap: 6px;
  flex-direction: column;
  list-style: initial;
}
._list_11v1w_47 li {
  list-style: initial;
}
._notification_11v1w_42 {
  align-items: flex-start;
}
._notificationMb_11v1w_59 {
  margin-bottom: 24px;
}
._notificationMt_11v1w_62 {
  margin-top: 24px;
}
._root_2iyjl_1 {
  width: 100%;
}
._item_2iyjl_4 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
._title_2iyjl_9 {
  display: flex;
  gap: 6px;
  align-items: center;
}
._row_2iyjl_14 {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
._divider_2iyjl_19 {
  margin: 8px 0;
}
._titleText_2iyjl_22 {
  display: flex;
  gap: 4px;
}
._whiteText_2iyjl_26 {
  color: #fff;
}
